* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Garamond, serif;
}


.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
}

.container .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color: #fff;
    margin: 30px 10px;
    padding: 20px 15px;

    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    border-radius: 15px;
}

.container .card:hover {
    height: 320px;

}

.card {
    margin-bottom: 200px;
}

.container .card .image {
    position: relative;
    width: 260px;
    height: 260px;

    top: -40%;
    left: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.container .card .image iframe {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    display: none;
    border-radius: 2rem;


}

.container .card .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 2rem;


}

.container .card .content {
    display: flex;
    flex-direction: column;

    position: relative;
    top: -140px;
    /* padding: 0px 0px; */
    color: #111;
    /* text-align: center; */

    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;

}

.lists ul li {
    font-size: 0.7rem;
    font-weight: 900;

}

.lists {
    display: flex;
    margin-top: 2rem;
    margin-left: 1rem;


}

.content a {
    margin-top: 1rem;
}

.lists ul {

    margin: 0px;
    padding: 0px;

}

.container .card:hover .content {
    margin-top: 2rem;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;

}

.container .card:hover .image {
    margin-top: 2rem;
    min-height: 200px;

}

.container .card:hover iframe {
    display: block;

}

.container .card:hover img {
    display: none;

}


.buttons {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #d8a330;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

/* media queries */
